.cf-filtered-row { opacity: .5; }
.cf-filtered-row, .cf-filtered-row a { color: #888; }
.cf-matched { color: #999; /*font-weight: normal;*/ border-bottom: 6px solid #c7c7c7; }

.cf-form { display: block!important; }